<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Nom</span><br>
      <input type="text" ><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Prenom</span><br>
      <input type="text"><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Ville</span><br>
      <input type="text"><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span><br>
      <input type="text" placeholder="johndoe@xxxxx.fr"><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Mot de passe</span><br>
      <input type="text"><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Telephone</span><br>
      <input type="text" placeholder="06XXXXXXXX"><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Type de contrat (facultatif)</span><br>
      <input type="text" placeholder="CDI, CDD ..."><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Emploi recherche (facultatif)</span><br>
      <input type="text"><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Localisation (facultatif)</span><br>
      <input type="text"><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Rayon(facultatif)</span><br>
      <input type="text"><br><br>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Disponibilite (facultatif)</span><br>
      <input type="text"><br><br>
    </label>

  </div>
</ion-content>
