ion-header{
    background-color: #d34b4b;
    color: white;
    font-weight: lighter;
    text-align: center;
  }
  ion-content{
    color: black;
  }
  
  ion-icone{
    margin: 0;
    padding: 0;
  }
  