<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar mode="md" placeholder="Rechercher une offre"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar slot="start">
      <img src="{{ entreprise.photo }}">
    </ion-avatar>
    <ion-label>
      <h3><b>{{ entreprise.nom }}</b></h3>
      <p>{{ entreprise.poste }}</p>
      <p>{{ entreprise.codepostal + " " + entreprise.adresse  }}</p>
    </ion-label>
    <ion-icon name="heart-outline"></ion-icon>
  </ion-item>

  <ion-card-content>

    <ion-card-subtitle>Présentation</ion-card-subtitle>

    <ion-label>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </ion-label>
  </ion-card-content>

  <ion-button expand="block" color="d">POSTULER A L'OFFRE</ion-button>





</ion-content>
