<ion-header>
  <ion-toolbar color="light">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="email" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-button color="success" expand="full" (click)="register(user)" [routerLink]="['/home']"> REGISTER </ion-button>
</ion-content>
